<!DOCTYPE html>
<html>
  
  <head>
    <SocketStream>
    <title>REBIN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  
  <body>
    <div id="wrap">
      <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <div class="container">
            <div class="navbar-content">
              <ul class="nav pull-left">
                <li class="active">
                  <a class="brand" href="/">Surfiki REBIN</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="span3">
            <div id="menu">
            </div>
            <div class="well">
              <p>
                Create endpoints that map a URL to a local binary. Creating, editing and deleting endpoints takes effect immediately.
              </p>
            </div>
          </div>
          <div class="span9">
            <div id="breadcrumbs"></div>
            <div class="row">
              <div class="span9">
                <div id="main" class="well">
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="push"></div>
    </div>
    <div id="footer">
    <div class="navbar navbar-static-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a href="http://www.intridea.com" class="brand" style="padding: 10px 20px 10px;"><img alt="Intridea, Inc." src="http://api.surfiki.com/static/img/intridea_logo.png" style="height: 30px"></a>
          <div class="navbar-content">
            <ul class="nav pull-right">
              <li><a href="http://www.intridea.com">Built by Intridea</a></li>
              <li><a href="http://surfiki.com/contact">Contact</a></li>
              <li><a href="http://twitter.com/intridea">Twitter</a></li>
              <li><a href="http://facebook.com/intridea">Facebook</a></li>
            </ul>
          </div>
        </div>
      </div> 
    </div>
  </body>
</html>