<div class="row">
  <div class="span4">
    <p>
      <b>App Name</b>
      <br>{{ name }}
    </p>
    <p>
      <b>URL
        <br> 
      </b>/api/{{ url }}/
    </p>
    <p>
      <b>Path
        <br> 
      </b>{{ path }}
    </p>
  </div>
  <div class="span4">
    <h5>Input Parameters</h5>
    <ul>
      {{#parameters}}<li>{{ . }}</li>{{/parameters}}
    </ul>
  </div>
</div>

<div class="row">
  <div class="span4">
      <a class="btn btn-primary" href="#/endpoints/edit/{{ id }}">Edit</a>
  </div>
  <div class="span4">
      <a id="delete" class="pull-right btn btn-danger" href="#/">Delete</a>
  </div>
</div>