<div class="row">
  <div class="span4">
    <h4>App Name</h4>
    <p>{{ name }}</p>
    
    <h4>URL</h4>
    <p>/api/{{ url }}/</p>
    
    <h4>Executable</h4>
    <p style="overflow-x: hidden">{{ executable }}</p>
  </div>
  <div class="span4">
    <h4>Input Parameters</h4>
    <ul>
      {{#parameters}}<li>{{ . }}</li>{{/parameters}}
    </ul>
  </div>
</div>

<div class="row">
  <div class="span8">
    <h4>Description</h4>
    <p>{{ description }}</p>
  </div>
</div>
<br />

<div class="row">
  <div class="span4">
      <a class="btn btn-primary" href="#/endpoints/edit/{{ id }}">Edit</a>
  </div>
  <div class="span4">
      <a id="delete" class="pull-right btn btn-danger" href="#/">Delete</a>
  </div>
</div>
