<div class="row">
  <div class="span2">
    <p>
      <b>App Name</b>
      <br>{{ name }}
    </p>
    <p>
      <b>URL
        <br> 
      </b>/api/{{ url }}/
    </p>
    <p style="overflow-x: hidden">
      <b>Executable
        <br> 
      </b>{{ executable }}
    </p>
  </div>
  <div class="span6">
    <h5>Input Parameters</h5>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Regex
          </th>
          <th>
            CLI flag
          </th>
          <th>
	    Default Value
	  </th>
	  <th>
	    Can override?
	  </th>
        </tr>
      </thead>
      <tbody>
        {{#parameters}}
        <tr>
          <td>
            {{ name }}
          </td>
          <td>
            {{ regex }} 
          </td>
          <td>
            {{ command line flag binding }} 
          </td>
	  <td>
	    {{ default value }}
	  </td>
	  <td>
	    {{ allow override of default }}
        </tr>
       {{/parameters}}
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="span8">
    <h4>Description</h4>
    <p>{{ description }}</p>
  </div>
</div>
<br />

<div class="row">
  <div class="span4">
      <a class="btn btn-primary" href="#/endpoints/edit/{{ id }}">Edit</a>
  </div>
  <div class="span6">
      <a id="delete" class="pull-right btn btn-danger" href="#/">Delete</a>
  </div>
</div>
